<?xml version="1.0" encoding="utf-8"?>
<!-- DESIGN6 §7.1: lets Perfetto / simpleperf attach to the non-debuggable profile build (not needed for gfxinfo). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <profileable android:shell="true" tools:targetApi="29" />
    </application>
</manifest>
